
  header {
    display: flex;
      position: fixed;
      height: 60px;
      transition: all 500ms;
      background: #2e2f30;
      overflow-y: auto;
      width: 100%;
      margin-top: 0px;
  }

  header img{
    width: 100px ;
    height:50px;
    border-radius: 50px 10px;
  }
#title {
  font-family: 'Tangerine', cursive;
  color: aliceblue;
  font-size: 3em;
}
main{
  display: flex;
  flex-direction: column;
  padding-top:50px;
}
  #votebox {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        box-sizing: border-box;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-items: center;
      }


    .img{
        margin-top: 20px;
        margin-left: 20px;
        border: 3px double rgb(78, 78, 76);
        width: 150px;
        height: 150px;
        object-fit: fill;
    }
 
    footer {
      display: flex;
      position:absolute;
        bottom: 0px;
      margin-top: 15px;
      padding: 2px;
        font-size: 14px;
        font-style: italic;
        font-weight: 2px;
        background: #040b14;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 30px;
  
    }